<button
    id="theme-toggle"
    class="inline-flex items-center rounded-md p-1 transition-colors text-foreground"
    aria-label="Toggle theme"
>
    <span class="sr-only">Toggle theme</span>
    <svg
        id="theme-icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        class="size-5"
        fill="var(--theme-toggle-icon-fill)"
    >
        <circle cx="8" cy="8" r="8"></circle>
    </svg>
</button>

<script>
    const setListener = () => {
        const button = document.getElementById("theme-toggle");
        if (!button || button.dataset.bound) return;

        button.dataset.bound = "true";

        button.addEventListener("click", () => {
            const root = document.documentElement;
            root.classList.toggle("dark");

            localStorage.theme = root.classList.contains("dark")
                ? "dark"
                : "light";
        });
    };

    setListener();
    document.addEventListener("astro:after-swap", setListener);
</script>
